venv/
__pycache__/
*.pyc
*.pyo
*.pyd


.env
.env.local


*.log
*.sqlite3
.DS_Store


alembic/versions/*.pyc
*.db
*.sqlite
*.sqlite3
*.db-journal
migrations/versions/*.pyc
migrations/versions/*.pyo
migrations/versions/*.pyd
migrations/versions/__pycache__/



*.log
__pycache__/
*.pyc
*.pyo
*.pyd

*.swp
*.swo
.DS_Store
